/* defaults values */

	body {
		font-family: 'Open Sans', sans-serif;
		color: white;
	}

	html, body {
		margin: 0;
		border: none;
		width: 100%;
		height: 100% !important;
		font-size: 16pt;
		font-weight: lighter;
	}

	#main-content {
		margin: 1.5em auto;
		overflow: auto;
		display: none;
	}
/* end of defaults values */

/* texts */

	h1, h2, p {
		color: #616161;
		margin: 0;
	}

	h2, a {
		font-size: 14pt;
		text-transform: uppercase;
		margin: 0;
		display: block;
		padding-top: 1.3em;
	}

	#gameEnd {
		font-size: 1.1em;
	}
/*end of texts*/

/* layout - mobile first */
	#main-content {
		width: 90vw;
	}

	.column {
		width: 90vw;
		max-width: 500px;
		margin: 0 auto;
	}

	#game-field {
		height: 90vw;
		max-height: 500px;
	}
/* end of layout - mobile first*/

/* buttons */
	button {
		cursor: pointer;
		padding: 0;
	}

	button, .button-like {
 		border: none;
 		height: 2.5em;
 		line-height: 2.5em;
 		margin-bottom: 4%;
 		width: 100%;
 		font-size: inherit;
 		color: inherit;
 		outline: none;
	}

	.button-like {
		width: 44%;
		padding: 0 0 0 3%;
	}

	.button-like:nth-child(2) {
		float: right;
	}

	.inner-value {
		display: inline;
	}
/* end of buttons */

/* links */
	a {
		color: #ce2727;
		font-weight: bold;
	}

	a:hover {
		color: #e54242;
	}
/* end of links */

/* game-field */
	#game-field {
		margin-bottom: 4%;
		position: relative;
	}


	.inner-box-content {
		margin: 0 auto;
		text-align: center;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}

	.box {
		background-color: #121212;
		border-radius: 0.2em;
		overflow: hidden;
	}

	.grid-box {
		background-color: #212121;
		font-size: 1.15em;
		color: white;
		width: 20%;
		height: 20%;
		position: absolute;
		display: table;
		-webkit-transition: 2000ms ease-in-out; /* Safari */
		transition: 2000ms ease-in-out;
	}

	.column-0 {
		left: 4%;
	}

	.column-1 {
		left: 28%;
	}

	.column-2 {
		left: 52%;
	}

	.column-3 {
		left: 76%;
	}

	.row-0 {
		top: 4%;
	}

	.row-1 {
		top: 28%;
	}

	.row-2 {
		top: 52%;
	}

	.row-3 {
		top: 76%;
	}

	#gameEndOverlay {
		width: 100%;
		height: 100%;
		background-color: white;
		opacity: 0;
		color: #616161;
		text-align: center;
		z-index: 10000;
		-webkit-transition: 800ms ease-in-out; /* Safari */
		transition: 800ms ease-in-out;
	}

	#inner-gameEnd {
		position: relative;
		top: 40%;
		height: 20%;
		font-size: inherit;
		line-height: 1.5em;
	}
/* end of game-field */

/* timer */

	#new-game-button {
		position: relative;
	}

	#new-game-text {
		z-index: 10;
		width: 100%;
		text-align: center;
		position: relative;
	}

	#inner-timer {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		background-color: #ce2727;
		animation: 100s linear animate-timer forwards;
	}

	.paused {
		-webkit-animation-play-state: paused !important; /* Chrome, Safari, Opera */
		animation-play-state: paused  !important;
	}

	@keyframes animate-timer {
		from {width: 100%;}
		to {width: 0;}
	}

	@keyframes animate-reverse-timer {
		from {width: 0;}
		to {width: 100%;}
	}
/* end of timer*/

/* responsive */

	@media only screen and (min-width: 990px) and (orientation: landscape) { /* large version */
		
		html {
			display: table;
		}

		body {
			display: table-cell;
			vertical-align: middle;
		}

		#main-content {
			width: 70vw;
		}

		.column {
			width: 32vw;
		}

		.column:nth-child(1) {
			float: left;
		}
		.column:nth-child(2) {
			float: right;
		}

		#game-field {
			height: 32vw;
		}

		.grid-box {
			font-size: 1.3em;
		}
	}
/* end of responsive 